.button {
  background-color: var(--primary-theme-color);
  border: 0.0625rem solid var(--primary-theme-color);
  border-radius: var(--primary-border-radius);
  color: var(--primary-text-color);
  font-family: var(--primary-font-famlily);
  font-size: 0.75rem;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  padding: 0.5em 2em;
  cursor: pointer;
  transition: background-color 0.25s, border 0.25s, color 0.25s, box-shadow 0.25s, filter 0.25s;

  &:hover {
    box-shadow: 0 0 0.125rem 0.125rem var(--primary-theme-color);
    filter: brightness(1.125);
  }

  @include desktop {
    font-size: 0.875rem;
  }

  &--lg {
    font-size: 0.875rem;

    @include desktop {
      font-size: 1rem;
    }
  }

  &--primary {
    background-color: var(--primary-button-color);
    border: 0.0625rem solid var(--primary-button-color);
    color: var(--light-primary-text-color);

    &:hover {
      box-shadow: 0 0 0.125rem 0.125rem var(--primary-button-color);
    }
  }

  &--secondary {
    background-color: var(--secondary-button-color);
    border: 0.0625rem solid var(--secondary-button-color);
    color: var(--light-primary-text-color);

    &:hover {
      box-shadow: 0 0 0.125rem 0.125rem var(--secondary-button-color);
    }
  }
}