.header {
  position: fixed;
  z-index: 25;
  top: 0;
  left: 0;
  width: 100%;
  transition: left 0.25s, background-color 0.25s, box-shadow 0.25s;

  & .list__link {
    color: var(--dark-primary-text-color);

    &:hover,
    &--active {
      color: var(--primary-highlight-color);
    }
  }

  &--menu {
    left: -50%;
  }

  &--scroll {
    background-color: var(--primary-theme-color);
    box-shadow: 0 0 0.0625rem 0.0625rem var(--primary-shadow-color);

    & .icon--menu {
      color: var(--primary-text-color);
    }

    & .list__link {
      @include desktop {
        color: var(--primary-text-color);

        &:hover,
        &--active {
          color: var(--primary-highlight-color);
        }
      }
    }
  }

  @include desktop {
    left: 0;
  }
}